{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 140,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-tailwindcss"]
  }
  