.split_p {
  overflow: hidden;

  .split_c {
    display: block;
    will-change: transform;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.3, 0, 0.3, 0.9);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: transform 1s cubic-bezier(0.3, 0, 0.3, 0.9);
    -moz-transition: transform 1s cubic-bezier(0.3, 0, 0.3, 0.9);
    -ms-transition: transform 1s cubic-bezier(0.3, 0, 0.3, 0.9);
    -o-transition: transform 1s cubic-bezier(0.3, 0, 0.3, 0.9);
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
  }
}

.is_view {
  .split_p {
    .split_c {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
    }
  }
}

.delay {
  .split_p {
    @for $i from 2 through 10 {
      &:nth-child(#{$i}) {
        .split_c {
          transition-delay: $i * 0.2s;
        }
      }
    }
  }
}
